* {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
  display: flex;
  height: 90vh;
  width: 100vw;
  justify-content: center;
  /* align-items: center; */
}
/* Major Sections */
#game-board {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  min-width: 20em;
  max-width: 100ww;
  max-height: 85vh;
  padding: 0.5em;
  margin: 0.5em;
  background-color: whitesmoke;
  border-radius: 8px;
  border: 4px solid black;
  box-shadow: 1px 1px 1px 1px;
}
/* ==================== Game Heading ==================== */
#game-header {
  display: grid;
  grid-template-columns: 1em 1fr 1em;
  padding: 1em 1.618em;
  margin: 0;
  row-gap: 0.1em;
}
.title {
  grid-row: 1/2;
  grid-column: span 3;
  text-align: center;
}
.subtitle {
  grid-row: 2/3;
  grid-column: span 3;
  text-align: center;
  font-weight: bolder;
}
#game-header h1,
#game-header p {
  padding: 0;
  margin: 0;
  /* font-family: helvetica, sans-serif; */
}
#game-header p {
  font-size: 1.25em;
  margin-left: 0.75em;
}

#game-header .peg {
  width: 1.25em;
  background-color: slategray;
  grid-column: 1/2;
}

#game-header .fully-correct {
  background-color: lightseagreen;
}
#game-header .half-correct {
  background-color: hotpink;
}
.instructions {
  padding: 0.25em;
}
#mute-button,
#sound-button {
  font-size: 1.5em;
  grid-column: 3/4;
  justify-self: end;
}
#mute-button:hover,
#sound-button:hover {
  cursor: pointer;
}
.hidden {
  display: none;
}
/* ==================== Game Display ==================== */
#game-display {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 4fr 1fr;
  row-gap: 0.25em;
}
.result-container,
.guess-container {
  padding: 0.25em 0;
  height: 100%;
}
/* Guesses */
.guess-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.guess-box {
  width: 20%;
  height: 80%;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px;
  background-color: white;
}
/* Results */
.result-container {
  display: grid;
  align-self: self-start;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.peg {
  width: 50%;
  aspect-ratio: 1/1;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 0.5px 1px 1px 1px;
  align-self: center;
  justify-self: center;
  background-color: white;
}

.active {
  background-color: slategrey;
}
/* ==================== Game Controls ==================== */
#game-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.btn {
  border: 1px solid black;
  border-radius: 8px;
  transition: 0.1s;
  width: 80%;
  height: 80%;
  justify-self: center;
  align-self: center;
}
.btn:hover {
  box-shadow: 2px 1px 1px 1px;
  cursor: pointer;
}
#yellow {
  background-color: yellow;
}
#orange {
  background-color: orange;
}
#red {
  background-color: red;
}

#purple {
  background-color: purple;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}

/* ====================== Modals ====================== */
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 30em;
}
.modal-body .btn {
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
  background-color: slategray;
  font-size: large;
  color: white;
  font-weight: bold;
  margin: 1em 0 0 0;
}

.modal-body .guess-box {
  width: 2em;
  height: 2em;
}
.modal-body img {
  max-width: 80%;
}
